In [6]:
import pandas as pd

data = pd.read_csv('../../lab-import-export/your-code/vehicles/vehicles.csv')
data.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [8]:
data.columns

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

In [11]:
#Renaming column names all by one.
data.columns = ['Manufacturer','Model','Year','Displacement',

                'Cylinders','Transmission','Drivetrain',

                'Vehicle Class','Fuel Type','Fuel Barrels/Year',

                'City MPG','Highway MPG','Combined MPG',

                'CO2 Emission Grams/Mile','Fuel Cost/Year']
data.columns

Index(['Manufacturer', 'Model', 'Year', 'Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

In [13]:
##renaming specific columns

data = data.rename(columns = {"Manufacturer": "Make",
                       "Displacement": "Engine Displacement"})
data.columns

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

In [14]:
column_order = ['Year','Make','Model','Vehicle Class',

                'Transmission','Drivetrain','Fuel Type',

                'Cylinders','Engine Displacement','Fuel Barrels/Year',

                'City MPG','Highway MPG','Combined MPG',

                'CO2 Emission Grams/Mile','Fuel Cost/Year']

data = data[column_order]
data.head()

,Year,Make,Model,Vehicle Class,Transmission,Drivetrain,Fuel Type,Cylinders,Engine Displacement,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,2-Wheel Drive,Regular,4.0,2.5,19.388824,18,17,17,522.764706,1950
1,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Automatic 3-spd,2-Wheel Drive,Regular,6.0,4.2,25.354615,13,13,13,683.615385,2550
2,1985,AM General,Post Office DJ5 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,Rear-Wheel Drive,Regular,4.0,2.5,20.600625,16,17,16,555.437500,2100
3,1985,AM General,Post Office DJ8 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,Rear-Wheel Drive,Regular,6.0,4.2,25.354615,13,13,13,683.615385,2550
4,1987,ASC Incorporated,GNX,Midsize Cars,Automatic 4-spd,Rear-Wheel Drive,Premium,6.0,3.8,20.600625,14,21,16,555.437500,2550

In [15]:
#Filtering Records

filtered = data[(data['Make']== 'Ford') &
                (data['Cylinders'] >=6) &
                (data['Combined MPG'] < 18)]

filtered.head()

,Year,Make,Model,Vehicle Class,Transmission,Drivetrain,Fuel Type,Cylinders,Engine Displacement,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
11442,1986,Ford,Aerostar Van,Vans,Automatic 4-spd,Rear-Wheel Drive,Regular,6.0,2.8,19.388824,15,21,17,522.764706,1950
11450,1988,Ford,Aerostar Van,Vans,Automatic 4-spd,Rear-Wheel Drive,Regular,6.0,3.0,19.388824,15,20,17,522.764706,1950
11452,1989,Ford,Aerostar Van,Vans,Automatic 4-spd,Rear-Wheel Drive,Regular,6.0,3.0,19.388824,15,21,17,522.764706,1950
11456,1990,Ford,Aerostar Van,Vans,Automatic 4-spd,Rear-Wheel Drive,Regular,6.0,4.0,19.388824,15,20,17,522.764706,1950
11459,1991,Ford,Aerostar Van,Vans,Automatic 4-spd,Rear-Wheel Drive,Regular,6.0,4.0,19.388824,15,20,17,522.764706,1950

In [20]:
#equal width bins, 
mpg_labels = ['Very Low', 'Low', 'Moderate', 'High', 'Very high']

bins = pd.cut(data['Combined MPG'], 5, labels=mpg_labels)
print(bins.value_counts())
bins.head(10)

Low          23444
Very Low      9137
Moderate      3052
High           275
Very high       44
Name: Combined MPG, dtype: int64

0         Low
1    Very Low
2    Very Low
3    Very Low
4    Very Low
5         Low
6         Low
7         Low
8         Low
9         Low
Name: Combined MPG, dtype: category
Categories (5, object): ['Very Low' < 'Low' < 'Moderate' < 'High' < 'Very high']

In [21]:
#equal frequency bins

bins = pd.qcut(data['Combined MPG'], 5, labels=mpg_labels)
print(bins.value_counts())
bins.head(10)

Moderate     9533
Very Low     9137
Low          5979
Very high    5716
High         5587
Name: Combined MPG, dtype: int64

0         Low
1    Very Low
2    Very Low
3    Very Low
4    Very Low
5        High
6        High
7    Moderate
8        High
9        High
Name: Combined MPG, dtype: category
Categories (5, object): ['Very Low' < 'Low' < 'Moderate' < 'High' < 'Very high']

In [23]:
#custom bin sizes
cutoffs = [7,14,21,23,30,40]
bins = pd.cut(data['Combined MPG'], cutoffs, labels=mpg_labels)
print(bins.value_counts())
bins.head(10)

Low          20068
High          6046
Very Low      4576
Moderate      4041
Very high     1069
Name: Combined MPG, dtype: int64

0         Low
1    Very Low
2         Low
3    Very Low
4         Low
5    Moderate
6        High
7         Low
8    Moderate
9        High
Name: Combined MPG, dtype: category
Categories (5, object): ['Very Low' < 'Low' < 'Moderate' < 'High' < 'Very high']

In [29]:
#conditional categories

data.loc[data['Transmission'].str.startswith('A'), 'TransType'] = 'Automatic'
data.loc[data['Transmission'].str.startswith('M'), 'TransType'] = 'Manual'

0        Automatic 3-spd
1        Automatic 3-spd
2        Automatic 3-spd
3        Automatic 3-spd
4        Automatic 4-spd
              ...
35947          Auto(AM5)
35948          Auto(AM5)
35949          Auto(AM5)
35950          Auto(AM6)
35951       Manual 5-spd
Name: Transmission, Length: 35952, dtype: object

In [30]:
#One hot encoding is to divide categorical variables

drivetrain = pd.get_dummies(data['Drivetrain'])
drivetrain.head()

,2-Wheel Drive,"2-Wheel Drive, Front",4-Wheel Drive,4-Wheel or All-Wheel Drive,All-Wheel Drive,Front-Wheel Drive,Part-time 4-Wheel Drive,Rear-Wheel Drive
0,1,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,1

In [32]:
data['Drivetrain'].head(10)

0        2-Wheel Drive
1        2-Wheel Drive
2     Rear-Wheel Drive
3     Rear-Wheel Drive
4     Rear-Wheel Drive
5    Front-Wheel Drive
6    Front-Wheel Drive
7    Front-Wheel Drive
8    Front-Wheel Drive
9    Front-Wheel Drive
Name: Drivetrain, dtype: object

In [33]:
avg_mpg = data.groupby('Make', as_index=False).agg({'Combined MPG': "mean"})
avg_mpg.columns = ['Make', 'Avg_MPG']
avg_mpg

                            Make    Avg_MPG
0                     AM General  14.750000
1               ASC Incorporated  16.000000
2                          Acura  21.506623
3                     Alfa Romeo  19.512195
4    American Motors Corporation  17.681818
..                           ...        ...
122                   Volkswagen  24.093601
123                        Volvo  20.605300
124        Wallace Environmental  13.875000
125                         Yugo  25.000000
126                        smart  35.800000

[127 rows x 2 columns]

In [34]:
data = pd.merge(data, avg_mpg, on = "Make")
data.head()

,Year,Make,Model,Vehicle Class,Transmission,Drivetrain,Fuel Type,Cylinders,Engine Displacement,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,TransType,Avg_MPG
0,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,2-Wheel Drive,Regular,4.0,2.5,19.388824,18,17,17,522.764706,1950,Automatic,14.75
1,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Automatic 3-spd,2-Wheel Drive,Regular,6.0,4.2,25.354615,13,13,13,683.615385,2550,Automatic,14.75
2,1985,AM General,Post Office DJ5 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,Rear-Wheel Drive,Regular,4.0,2.5,20.600625,16,17,16,555.437500,2100,Automatic,14.75
3,1985,AM General,Post Office DJ8 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,Rear-Wheel Drive,Regular,6.0,4.2,25.354615,13,13,13,683.615385,2550,Automatic,14.75
4,1987,ASC Incorporated,GNX,Midsize Cars,Automatic 4-spd,Rear-Wheel Drive,Premium,6.0,3.8,20.600625,14,21,16,555.437500,2550,Automatic,16.00

In [44]:
data = pd.concat([data, drivetrain], axis = 1)
data.head()

,Year,Make,Model,Vehicle Class,Transmission,Drivetrain,Fuel Type,Cylinders,Engine Displacement,Fuel Barrels/Year,...,Part-time 4-Wheel Drive,Rear-Wheel Drive,2-Wheel Drive,"2-Wheel Drive, Front",4-Wheel Drive,4-Wheel or All-Wheel Drive,All-Wheel Drive,Front-Wheel Drive,Part-time 4-Wheel Drive,Rear-Wheel Drive
0,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,2-Wheel Drive,Regular,4.0,2.5,19.388824,...,0,0,1,0,0,0,0,0,0,0
1,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Automatic 3-spd,2-Wheel Drive,Regular,6.0,4.2,25.354615,...,0,0,1,0,0,0,0,0,0,0
2,1985,AM General,Post Office DJ5 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,Rear-Wheel Drive,Regular,4.0,2.5,20.600625,...,0,1,0,0,0,0,0,0,0,1
3,1985,AM General,Post Office DJ8 2WD,Special Purpose Vehicle 2WD,Automatic 3-spd,Rear-Wheel Drive,Regular,6.0,4.2,25.354615,...,0,1,0,0,0,0,0,0,0,1
4,1987,ASC Incorporated,GNX,Midsize Cars,Automatic 4-spd,Rear-Wheel Drive,Premium,6.0,3.8,20.600625,...,0,1,0,0,0,0,0,0,0,1

In [42]:
lexus = data[data['Make']=='Lexus']
audi = data[data['Make'] == 'Audi']

lexus_audi = pd.concat([lexus, audi], axis = 0)
lexus_audi

,Year,Make,Model,Vehicle Class,Transmission,Drivetrain,Fuel Type,Cylinders,Engine Displacement,Fuel Barrels/Year,...,Part-time 4-Wheel Drive,Rear-Wheel Drive,2-Wheel Drive,"2-Wheel Drive, Front",4-Wheel Drive,4-Wheel or All-Wheel Drive,All-Wheel Drive,Front-Wheel Drive,Part-time 4-Wheel Drive,Rear-Wheel Drive
21128,2011,Lexus,CT 200h,Compact Cars,Automatic (variable gear ratios),Front-Wheel Drive,Regular,4.0,1.8,7.847857,...,0,0,0,0,0,0,0,1,0,0
21129,2012,Lexus,CT 200h,Compact Cars,Automatic (variable gear ratios),Front-Wheel Drive,Regular,4.0,1.8,7.847857,...,0,0,0,0,0,0,0,1,0,0
21130,2013,Lexus,CT 200h,Compact Cars,Automatic (variable gear ratios),Front-Wheel Drive,Regular,4.0,1.8,7.847857,...,0,0,0,0,0,0,0,1,0,0
21131,2014,Lexus,CT 200h,Compact Cars,Automatic (variable gear ratios),Front-Wheel Drive,Regular,4.0,1.8,7.847857,...,0,0,0,0,0,0,0,1,0,0
21132,2015,Lexus,CT 200h,Compact Cars,Automatic (variable gear ratios),Front-Wheel Drive,Regular,4.0,1.8,7.847857,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1388,2013,Audi,allroad quattro,Small Station Wagons,Automatic (S8),All-Wheel Drive,Premium,4.0,2.0,14.330870,...,0,0,0,0,0,0,1,0,0,0
1389,2013,Audi,allroad quattro,Small Station Wagons,Automatic (S8),All-Wheel Drive,Premium or E85,4.0,2.0,14.330870,...,0,0,0,0,0,0,1,0,0,0
1390,2014,Audi,allroad quattro,Small Station Wagons,Automatic (S8),All-Wheel Drive,Premium or E85,4.0,2.0,14.330870,...,0,0,0,0,0,0,1,0,0,0
1391,2015,Audi,allroad quattro,Small Station Wagons,Automatic (S8),All-Wheel Drive,Premium or E85,4.0,2.0,13.733750,...,0,0,0,0,0,0,1,0,0,0
1392,2016,Audi,allroad quattro,Small Station Wagons,Automatic (S8),All-Wheel Drive,Premium or E85,4.0,2.0,13.733750,...,0,0,0,0,0,0,1,0,0,0

In [49]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35952 entries, 0 to 35951
Data columns (total 49 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Year                        35952 non-null  int64
 1   Make                        35952 non-null  object
 2   Model                       35952 non-null  object
 3   Vehicle Class               35952 non-null  object
 4   Transmission                35952 non-null  object
 5   Drivetrain                  35952 non-null  object
 6   Fuel Type                   35952 non-null  object
 7   Cylinders                   35952 non-null  float64
 8   Engine Displacement         35952 non-null  float64
 9   Fuel Barrels/Year           35952 non-null  float64
 10  City MPG                    35952 non-null  int64
 11  Highway MPG                 35952 non-null  int64
 12  Combined MPG                35952 non-null  int64
 13  CO2 Emission Grams/Mile     35952 non-null  float64
 14  Fuel Cost/Year              35952 non-null  int64
 15  TransType                   35952 non-null  object
 16  Avg_MPG                     35952 non-null  float64
 17  2-Wheel Drive               35952 non-null  uint8
 18  2-Wheel Drive, Front        35952 non-null  uint8
 19  4-Wheel Drive               35952 non-null  uint8
 20  4-Wheel or All-Wheel Drive  35952 non-null  uint8
 21  All-Wheel Drive             35952 non-null  uint8
 22  Front-Wheel Drive           35952 non-null  uint8
 23  Part-time 4-Wheel Drive     35952 non-null  uint8
 24  Rear-Wheel Drive            35952 non-null  uint8
 25  2-Wheel Drive               35952 non-null  uint8
 26  2-Wheel Drive, Front        35952 non-null  uint8
 27  4-Wheel Drive               35952 non-null  uint8
 28  4-Wheel or All-Wheel Drive  35952 non-null  uint8
 29  All-Wheel Drive             35952 non-null  uint8
 30  Front-Wheel Drive           35952 non-null  uint8
 31  Part-time 4-Wheel Drive     35952 non-null  uint8
 32  Rear-Wheel Drive            35952 non-null  uint8
 33  2-Wheel Drive               35952 non-null  uint8
 34  2-Wheel Drive, Front        35952 non-null  uint8
 35  4-Wheel Drive               35952 non-null  uint8
 36  4-Wheel or All-Wheel Drive  35952 non-null  uint8
 37  All-Wheel Drive             35952 non-null  uint8
 38  Front-Wheel Drive           35952 non-null  uint8
 39  Part-time 4-Wheel Drive     35952 non-null  uint8
 40  Rear-Wheel Drive            35952 non-null  uint8
 41  2-Wheel Drive               35952 non-null  uint8
 42  2-Wheel Drive, Front        35952 non-null  uint8
 43  4-Wheel Drive               35952 non-null  uint8
 44  4-Wheel or All-Wheel Drive  35952 non-null  uint8
 45  All-Wheel Drive             35952 non-null  uint8
 46  Front-Wheel Drive           35952 non-null  uint8
 47  Part-time 4-Wheel Drive     35952 non-null  uint8
 48  Rear-Wheel Drive            35952 non-null  uint8
dtypes: float64(5), int64(5), object(7), uint8(32)
memory usage: 6.0+ MB

In [55]:

data1= data.copy()
data1 = data1.T.drop_duplicates().T
melted = pd.melt(data1, id_vars = ['Year', 'Make', 'Model'],
                 value_vars=['City MPG', "Highway MPG", "Combined MPG"])
melted.head()

   Year              Make                Model  variable value
0  1984        AM General    DJ Po Vehicle 2WD  City MPG    18
1  1984        AM General     FJ8c Post Office  City MPG    13
2  1985        AM General  Post Office DJ5 2WD  City MPG    16
3  1985        AM General  Post Office DJ8 2WD  City MPG    13
4  1987  ASC Incorporated                  GNX  City MPG    14

In [61]:
data[['Year', 'Make', 'Model', 'Highway MPG']].head(10)

   Year              Make                Model  Highway MPG
0  1984        AM General    DJ Po Vehicle 2WD           17
1  1984        AM General     FJ8c Post Office           13
2  1985        AM General  Post Office DJ5 2WD           17
3  1985        AM General  Post Office DJ8 2WD           13
4  1987  ASC Incorporated                  GNX           21
5  1997             Acura          2.2CL/3.0CL           26
6  1997             Acura          2.2CL/3.0CL           28
7  1997             Acura          2.2CL/3.0CL           26
8  1998             Acura          2.3CL/3.0CL           27
9  1998             Acura          2.3CL/3.0CL           29